<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<!-- List 의존성 주입 -->
	<bean id="jiList" class="day0423.JcfInjection" scope="singleton">
		<constructor-arg>
			<list>
				<value type="java.lang.String">박영민</value>
				<value type="java.lang.String">김정윤</value>
				<value type="java.lang.String">최지우</value>
				<value type="java.lang.String">노진경</value>
				<value type="java.lang.String">김희철</value>
			</list>
		</constructor-arg>
	</bean>

	<!-- Set 의존성 주입 -->
	<bean id="jiSet" class="day0423.JcfInjection" scope="singleton">
		<constructor-arg>
			<set>
				<value type="java.lang.String">박영민</value>
				<value type="java.lang.String">김정윤</value>
				<value type="java.lang.String">최지우</value>
				<value type="java.lang.String">최지우</value>
				<value type="java.lang.String">노진경</value>
				<value type="java.lang.String">김희철</value>
				<value type="java.lang.String">김희철</value>
				<value type="java.lang.String">김희철</value>
			</set>
		</constructor-arg>
	</bean>
	
	<!-- VO를 Generic으로 사용한 List -->
	<!-- 1.VO를 객체로 생성 -->
	<bean id="tv" class="day0423.TestVO">
		<constructor-arg>
			<value type="java.lang.String">노진경</value>
		</constructor-arg>
		<constructor-arg>
			<value type="int">20</value>
		</constructor-arg>
	</bean>
	
	<bean id="tv1" class="day0423.TestVO">
		<constructor-arg type="java.lang.String" value="김정윤" />
		<constructor-arg type="int" value="28" />
	</bean>
	
	<bean id="tv2" class="day0423.TestVO">
		<constructor-arg type="java.lang.String" value="김정윤" />
		<constructor-arg type="int" value="28" />
	</bean>
	
	<!-- VO객체를 생성하여 List에 의존성 주입 -->
	<bean id="jiVoList" class="day0423.JcfInjection" scope="singleton">
		<constructor-arg>
			<list>
				<ref bean="tv" />
				<ref bean="tv1" />
				<ref bean="tv2" />
			</list>
		</constructor-arg>
		<constructor-arg type="int" value="0" />
	</bean>
	
	<!-- Map 의존성 주입 -->
	<bean id="jiMap" class="day0423.JcfInjection">
		<constructor-arg>
			<map>
				<entry>
					<key><value type="java.lang.String">노진경</value></key>
					<value>안녕하세요? 쓰앵님</value>
				</entry>
				<entry>
					<key><value type="java.lang.String">김정윤</value></key>
					<value>디잘잘, 도타, 철권</value>
				</entry>
				<entry>
					<key><value type="java.lang.String">김정운</value></key>
					<value>네트워크, 토익, 홍익인간</value>
				</entry>
			</map>
		</constructor-arg>
	</bean>
	
	<!-- Annotation 의존성 주입 -->
	
	
	
</beans>
